* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.gridFather {
  position: relative;
  font-size: 20px;
}

.containerTitleNav {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.navbar-brand {
  font-size: 2.5rem;
  font-weight: 600;
}

.titleNav {
  text-transform: capitalize;
  font-size: 1.0625rem;
  font-weight: 600;
}

#navbarSupportedContent {
  margin-left: 120px;
}

.searchStyles {
  color: black;
  font-weight: 600;
  text-transform: capitalize;
  width: 400px;
  height: auto;
}

#submit {
  all: unset;
  width: 120px;
  padding: 10px;
  border-radius: 5px;
  background-image: linear-gradient(to top right, #B2A59B, #DED0B6);
  border: 1px solid grey;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
#submit:hover {
  padding: 6px;
  border-radius: 2px;
  box-shadow: inset 0 0 6px 1px #B2A59B;
  border: none;
  background-image: none;
}

.titleContainer {
  width: 100%;
  height: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.titleContainer h1 {
  text-align: center;
  text-transform: uppercase;
  color: black;
  font-size: 45px;
  font-weight: 700;
}

#products {
  width: 100%;
  height: 800px;
  display: grid;
  grid-template-columns: repeat(4, 3fr);
  grid-template-rows: repeat(4, 3fr);
  gap: 2px;
}
#products div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#products div img {
  width: 400px;
  height: 400px;
  transition: all 0.3s linear;
  cursor: pointer;
}
#products div img:hover {
  padding: 20px;
  box-shadow: inset 0 0 10px 1px;
  border-radius: 10px;
}
#products div h5 {
  color: black;
  font-weight: 500;
  font-size: 22px;
  text-transform: capitalize;
}

.aboutIntro {
  width: 100%;
  height: 900px;
  padding: 90px;
  background-color: #F7F6F6;
}
.aboutIntro h2 {
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  text-transform: capitalize;
}
.aboutIntro p {
  text-align: justify;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 500px;
  background-color: #121212;
  box-shadow: 0px 0 2px 2px;
}
.footer .aditionalInfo {
  width: 70%;
  margin-top: 40px;
  margin-bottom: 50px;
  margin-left: 12.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer .aditionalInfo div ul {
  list-style: none;
}
.footer .aditionalInfo div ul li {
  color: white;
  text-transform: capitalize;
  font-size: 18px;
}
.footer .aditionalInfo div ul li > a {
  all: unset;
  text-transform: capitalize;
  cursor: pointer;
}
.footer .formContainer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 60px;
}
.footer .formContainer form label {
  color: #757575;
  font-weight: 500;
}
.footer .formContainer form div {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-wrap: nowrap;
}
.footer .formContainer form div input {
  all: unset;
  width: 500px;
  height: 20px;
  border-bottom: 2px solid whitesmoke;
  color: white;
}
.footer .formContainer form div button {
  all: unset;
  width: 200px;
  padding: 8px;
  margin-left: 20px;
  border-radius: 12px;
  color: black;
  background-color: white;
  text-transform: capitalize;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s linear;
}
.footer .formContainer form div button:hover {
  background-color: black;
  border: 1px solid white;
  color: white;
}

.containerSpan {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #757575;
}
.containerSpan span {
  text-transform: capitalize;
  transition: color 0.3s ease;
}
.containerSpan span:hover {
  color: white;
}

/*# sourceMappingURL=style.css.map */
